@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@import './vendors/simplemde';

@import './theme';

body {
  margin: 0;
}

@each $color, $palette in ('primary': $patch-notes-primary, 'accent': $patch-notes-accent, 'warn': $patch-notes-warn) {
  .text-#{$color} {
    color: map-get($palette, default);
  }
}

button[mat-button] {
  text-transform: uppercase;

  + button[mat-button] {
    margin-left: 8px;
  }
}

.mat-expansion-panel-body > .extended {
  margin: 0 -24px;
}

mat-divider.extended {
  margin: 16px -24px;

  &.top {
    margin-top: 0;
  }

  &.bottom {
    margin-bottom: 0;
  }
}
