@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@import './vendors/simplemde';

@import './theme';

body {
  margin: 0;
}

@each $color, $palette in ('primary': $patch-notes-primary, 'accent': $patch-notes-accent, 'warn': $patch-notes-warn) {
  .text-#{$color} {
    color: map-get($palette, default);
  }
}

button[mat-button] {
  text-transform: uppercase;
}
