.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;

  mat-accordion {
    max-width: 960px;
  }
}

h1 {
  text-align: center;
}

.mat-action-row {
  padding: 16px 24px;
}
