<div class="container">
    <h1 class="mat-display-1">orca-patch-notes :: editor</h1>
    <mat-accordion color="primary">
        <mat-expansion-panel *ngFor="let patch of patchNotes | async ; trackBy: version" [expanded]="active === patch.version" (opened)="active = patch.version">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Version&nbsp;<span class="text-primary">{{patch.version}}</span>
                </mat-panel-title>
                <mat-panel-description>
                    Last updated on {{patch.timestamp | date:'medium':'CET'}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <patch-editor [version]="patch.version" [(contents)]="patch.contents"></patch-editor>
            <mat-action-row>
                <button mat-button color="warn" (click)="delete(patch.version)">Delete</button>
                <button mat-button color="primary" (click)="save(patch.version, patch.contents)">Update</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
