<div class="container">
    <h1 class="mat-display-1">orca-patch-notes :: editor</h1>
    <mat-accordion color="primary">
        <mat-expansion-panel #newPatchPanel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Create new patch notes
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="extended top">
                <mat-progress-bar [mode]="(busy | async) ? 'indeterminate' : 'determinate'"></mat-progress-bar>
            </div>
            <mat-form-field floatLabel="auto">
                <mat-label>Version</mat-label>
                <input matInput placeholder="Following Semantic Versioning 2.0.0" [(ngModel)]="newPatch.version">
            </mat-form-field>
            <mat-divider class="extended top bottom"></mat-divider>
            <patch-editor [version]="newPatch.version" [(contents)]="newPatch.contents"></patch-editor>
            <mat-action-row>
                <button [disabled]="busy | async" mat-button color="primary" (click)="save(newPatch.version, newPatch.contents, true)">Create</button>
            </mat-action-row>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel *ngFor="let patch of patchNotes | async ; trackBy: tracker" [expanded]="activePatch === patch.version" (opened)="activePatch = patch.version">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Version&nbsp;<span class="text-primary">{{patch.version}}</span>
                </mat-panel-title>
                <mat-panel-description>
                    Last updated on {{patch.timestamp | date:'medium':'CET'}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="extended top bottom">
                <mat-progress-bar [mode]="(busy | async) ? 'indeterminate' : 'determinate'"></mat-progress-bar>
            </div>
            <patch-editor [version]="patch.version" [(contents)]="patch.contents"></patch-editor>
            <mat-action-row>
                <button [disabled]="busy | async" mat-button color="warn" (click)="delete(patch.version)">Delete</button>
                <button [disabled]="busy | async" mat-button color="primary" (click)="save(patch.version, patch.contents)">Update</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
